@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Expanded:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanuman:wght@400&display=swap');

body {
  margin: 0;
  padding: 0;
  overflow-x:hidden;
  overflow-y:hidden;
  background-color: #f9f9f9;
}

.content {
  position: fixed;
  top: .2em;
  padding: 3em;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Logo Section */
.logo {
  position: absolute;
  left: 70px
}
.logo img {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 0;
  top: 0;
  cursor: pointer;
}
.logo .name {
  position: absolute;
  width: 200px;
  left: 60px;
}
.logo p {
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  font-size: 20px;
  line-height: 25px;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

/* NavBar */
.navbar {
  font-family: 'Hammersmith One', sans-serif;
  position: absolute;
  right: 70px
}
.navbar .navitems {
  display: inline-block;
  padding: 15px;
  border-top: #848484 1px solid;
}
.navbar a {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  text-decoration: none;
  color: black;
  transition: 0.4s;
}
.navbar a:hover {
    text-shadow: 1px 2px 5px #4E4E4E;
}
.navbar .btn {
  margin-left: 30px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: #4E4E4E 1.5px solid;
  color: #f9f9f9; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}
.navbar i {
  color: #4E4E4E;
  padding-top: 5px;
  height: 50px;
}

/* Home Content */
.home-content {
  font-family: 'Playfair Display', serif;
  position: absolute;
  top: 200px
}
.home-content h1 {
  color: white;
  font-weight: 400;
  line-height: 100px;
  font-size: 90px;
  padding: 0;
  padding-left: 40px;
  margin: 0;
  text-shadow: 2px 2px 4px #4E4E4E;
}
.home-content h2:nth-of-type(1) {
  padding-top: 20px;
}
.home-content h2 {
  color: white;
  font-size: 25px;
  line-height: 40px;
  padding-left: 45px;
  margin: 0;
  text-shadow: 1px 1px 2px #4E4E4E;
}

.home-content .buttons-container {
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 50px 20px 20px 45px;
    padding-top: 4px;
    cursor: pointer;
  }
  
  .home-content a {
    border: solid 2px black;
    padding: .5em 1.125em .3em 1.125em;
    font-family: 'Hanuman', serif;
    font-size: 1.5rem;
    text-decoration: none;
  }
  
  .home-content .button-arounder {
    background: white;
    color: #4E4E4E;
    transform: translateY(0);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    
    --dur: .15s;
    --delay: .15s;
    --radius: 16px;
    
    transition:
      border-top-left-radius var(--dur) var(--delay) ease-out,
      border-top-right-radius var(--dur) calc(var(--delay) * 2) ease-out,
      border-bottom-right-radius var(--dur) calc(var(--delay) * 3) ease-out,
      border-bottom-left-radius var(--dur) calc(var(--delay) * 4) ease-out,
      box-shadow calc(var(--dur) * 4) ease-out,
      transform calc(var(--dur) * 4) ease-out,
      color calc(var(--dur) * 4) ease-out,
      background calc(var(--dur) * 4) steps(4, jump-end);
  }
  
  .home-content .button-arounder:hover,
  .home-content .button-arounder:focus {
    box-shadow: 0 4px 8px hsla(190deg, 15%, 5%, .2);
    transform: translateY(-4px);
    background: #FF5C00;
    color: white;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
  }

.box {
  position: absolute;
  transform: rotate(80deg);
  top: 0;
  left: 0;
  z-index: -1;
}

.wave {
  position: absolute;
  width: 1600px;
  height: 1300px;
  margin-left: -750px;
  margin-top: -75px;
  border-radius: 60%;
  z-index: -1;
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}

.wave {
  animation: rotate 15000ms infinite linear;
  opacity: .5;
  background: #00337C;
}

.wave:nth-of-type(2) {
  animation: rotate 10000ms infinite linear;
  opacity: .1;
  background: black;
}

.wave:nth-of-type(3) {
  animation: rotate 12000ms infinite linear;
  opacity: .7;
  background-color: #00337C;
}

.box:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  transform: translate3d(0, 0, 0);
}
